.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.divler{
    width: 200px;
    height: 200px;
    background-color: red;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.aktiv{
    text-decoration: line-through;
}